<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMathService">
                    <security mode="Message">
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52155/MathService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IMathService" contract="MathServiceReference.IMathService"
                name="WSDualHttpBinding_IMathService">
                <identity>
                    <userPrincipalName value="WIN-JA1R25CQSJG\Carl" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>